.weather-card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #dc2424, #4a569d);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-container input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: medium;
}

.input-container img {
  width: 40px;
  height: 40px;
  color: #fff;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.temp-img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.other-info {
  display: flex;
  gap: 140px;
}

.humidity-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wind-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.other-info img {
  width: 30px;
  height: 30px;
}

/* ----- Error ----- */

.error-state p {
  margin-top: 20px;
  margin-right: 10px;
}

/* ----- Media Query ----- */

@media (max-width: 550px) {
  .weather-card {
    width: 75%;
  }
  .weather-data {
    font-size: 13px;
  }

  .temp-img {
    width: 60px;
    height: 60px;
  }

  .error-state p {
    font-size: 13px;
  }

  .other-info {
    font-size: 14px;
    gap: 50px;
  }
  .humidity-info {
    gap: 20px;
  }
  .wind-info {
    gap: 20px;
  }
}
